
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
/* a:hover {
  color: #6633ff;
} */
/*text and title fonts*/
p{
  color: rgb(112, 108, 108);
  font-size: 16px;
}
h2 {
  color:rgb(29, 28, 28);
  font-weight:800;
  text-shadow: 2px 2px rgb(175, 159, 159);
}
/* Section Styles */

.main-nav {
  width: 100%;
  background: rgb(29, 28, 28);
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    text-transform: uppercase;
    text-shadow: 2px 2px rgb(175, 159, 159);
    font-size: 20px;
    color: white;
    transition: all .5s;
}
.nav .name:hover {
  transform: scale(1.2) rotate(360deg);
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
    text-shadow: 2px 1px rgb(175, 159, 159);
    font-size: 16px;
    color: white;
     transition: all .5s;
}
.nav a:hover {
  color: rgba(59, 167, 91, 0.472);
  font-size:20px ;
}
.nav .active a{
  color:rgb(56, 19, 189);
  }


header {
  text-align: center;
  background: url('images/bg-photoS1.jpg') no-repeat top center ;
  background-size: cover;
 
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
 
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.2) rotate(360deg);
}
.tag {
 
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
  background-color: transparent;

} 
.location {
  background-color: rgb(172, 88, 10);
}

.location:hover {
  background-color:rgb(245, 238, 238);
  transform: scale(1.2);
}
.name{
  text-shadow: 2px 2px rgb(175, 159, 159);
  color: rgb(105, 44, 4);
  font-weight: 700;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border: 4px solid rgb(214, 212, 221);
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #1f0a52;
  box-shadow: 2px 2px 2px black;
}
.card h2{
  text-align: center;
}
ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}


.skills li:nth-child(odd) {
  background: #0399ff;
}
.skills li:hover{
  transform: scale(1.1);
}

.botton{
  margin-top: 50px;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
/* a.twitter {
  background-image: url(images/twitter.svg);
} */
/* a.linkedin {
  background-image: url(images/linkedin.svg);
} */
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}
/*servies html*/
.services-main li{
  max-width: 500px;
  list-style-type: none;
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: coral;
	border: 2px solid;
	margin: 5px auto;
	text-align: center;
}
/*contact html*/
.contacts-main{
  text-align: center;
  background: url('images/bg-contactS.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  opacity:0.8;
}
.contacts-main li{
  max-width: 500px;
  list-style-type: none;
	padding: 10px;

  border-bottom: 2px solid gray;
	margin: 5px auto;
	text-align: center;
}
.contacts-main span{
  font-weight: 900;
}
/*photo html*/
.card img{
  width: 100%;
}
.card img:hover {
  transform: scale(1.2);
}
.img{
  margin: 30px 5px 0;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

